<% layout('layouts/boilerplate') %>

<h1>Login</h1>
<form  action="/login" method="POST" novalidate class="needs-validation">

    <div class="md-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username"  name="username" id="username" required >
    </div>
    <div class="md-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password"  name="password" id="password" required>
    </div>
    <button class=" mt-3 btn btn-success">Login</button>

</form>


